* {
	font-family: tahoma;
}

body {
	padding: 0;
	margin: 0;
}

div#heelcalc {
	margin-top: 1.5%;
	background-color: #A4A4A4;
	padding-bottom: 50px; 
	padding-top: 15px;
	margin-left: 43.3%;
	margin-right: 43.3%;
	border-radius: 10px;
	border: 2px solid black;
	min-width: 250px;
}

#input {
	margin-left: 15%;
	margin-bottom: 5%;
}

p#getal1,p#getal2 {
	display: none;
}

div#calc {
	margin-top: 1%;
	margin-left: 2%;
}

div#buttons {
}

div#buttons a#clear {
	padding-left: 93px;
	padding-right: 93px;
}

div#buttons a {
	width: 45px;
	height: 45px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 39px;
	padding: 2px;
	margin: 5px 6px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
	border-radius: 10px;
}


a:hover {
	background-color: lightgray;
	cursor: pointer;
}